<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogueVergil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogueVergil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogueVergil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>persephone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{150,208}</string>
                <key>textureRect</key>
                <string>{{0,600},{150,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>succubus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,808},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogueActor.png</string>
            <key>size</key>
            <string>{150,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87cd700e3a56f20743b0accb4dbe80c:acf815cb437b5c6dc7ba0bc742b41aed:86d9bba55a8fc447cc79f80a54dcb6c5$</string>
            <key>textureFileName</key>
            <string>dialogueActor.png</string>
        </dict>
    </dict>
</plist>
