<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,10}</string>
                <key>spriteSourceSize</key>
                <string>{108,10}</string>
                <key>textureRect</key>
                <string>{{0,16},{108,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,10}</string>
                <key>spriteSourceSize</key>
                <string>{108,10}</string>
                <key>textureRect</key>
                <string>{{0,26},{108,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,16}</string>
                <key>spriteSourceSize</key>
                <string>{108,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bar.png</string>
            <key>size</key>
            <string>{108,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b262465feead2cc62e6b12393c009be:c6a90f40400f4c3599258708b1ea0041:2af4dccf6f6cde3a04e4a6bfe77725b4$</string>
            <key>textureFileName</key>
            <string>Bar.png</string>
        </dict>
    </dict>
</plist>
