<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{314,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{345,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{376,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{159,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{190,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{221,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{252,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{283,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shrine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{407,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{439,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{727,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{759,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{791,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{471,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{503,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{535,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{567,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{599,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{631,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{663,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{695,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{823,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1111,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1143,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1175,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{855,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{887,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{919,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{951,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{983,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1015,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1047,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vergil9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1079,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allCharacter.png</string>
            <key>size</key>
            <string>{1207,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae77fbc08ad7d32cbcadb06daf50a714:92c145901ae62b7ff724315fa5418169:30ea09d570a813938397c6246ca177a5$</string>
            <key>textureFileName</key>
            <string>allCharacter.png</string>
        </dict>
    </dict>
</plist>
