<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>testActor0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-59}</string>
                <key>spriteSize</key>
                <string>{344,482}</string>
                <key>spriteSourceSize</key>
                <string>{500,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{344,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testActor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-59}</string>
                <key>spriteSize</key>
                <string>{344,482}</string>
                <key>spriteSourceSize</key>
                <string>{500,600}</string>
                <key>textureRect</key>
                <string>{{347,1},{344,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actor.png</string>
            <key>size</key>
            <string>{692,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04b0f75efb5192004e5e01b869ddc7f:36be7e27d4a5e78b6af51b934f61cc53:ea8517562a1e26db76f07e28039504de$</string>
            <key>textureFileName</key>
            <string>actor.png</string>
        </dict>
    </dict>
</plist>
